<ul class="filter-nav">
    <li <% if params[:status].blank?      %> class="current" <% end %> ><%= link_to "All", admin_candidates_path, :class => "btn" %> </li>
  <% Status::STATUSES.each_with_index do |status, idx| %>
    <li <% if idx == params[:status].to_i %> class="current" <% end %> ><%= link_to status, admin_candidates_path(status: idx), :class => "btn" %></li>
  <% end %>
</ul>

<ul>
<% @candidates.each do |candidate| %>
  <li class="user-snapshot">
    <div class="profile">
      <% if candidate.profile_img? %>
        <%= image_tag candidate.profile_img %>
      <% else %>
        <%= image_tag "/assets/blank_user.gif" %>
      <% end %>
    </div>
    <div class="user-details">
      <%= link_to candidate.name, admin_candidate_path(candidate)%>
    </div>
  </li>
<% end %>
</ul>