<div class="container <%= params[:controller].gsub(/\//, '-')  %>">

  <header>

    <div class="user-snapshot">
    <% if @candidate.profile_img? %>
      <%= image_tag @candidate.profile_img %>
    <% else %>
      <%= image_tag "/assets/blank_user.gif" %>
    <% end %>
    </div>


    <h1><%= @candidate.name %></h1>

    <section class="meta">
      <ul class="info">
        <li><%= @candidate.city %>, <%= @candidate.state %></li>
        <li><b>Email:</b> <%= @candidate.email %></li>
        <li><b>Phone:</b> <%= @candidate.phone %></li>
      </ul>

      <ul class="status">
        <li><b>Status:</b> <%= Status::STATUSES[@candidate.status.status] %></li>
      </ul>
    </section>

  </header>

  <section class="materials">
    <div>
      <h2>Video &amp; Resume</h2>
      <div class="material">
        <br />
        <% if @candidate.resume.url %>
          <p><%= link_to "Resume", @candidate.resume.url %></p>
        <% end %>
        <% if @candidate.resume.url %>
          <p><%= link_to "YouTube Video", @candidate.youtube_link %></p>
        <% end %>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div>
      <h2>Essay questions</h2>
      <div class="material">
        <% @candidate.responses.each do |response| %>
          <b><%= response.question.text %></b>
          <br /><br />
          <p><%= response.body %></p>
        <% end %>
      </div>
    </div>
    <div>
      <h2>Timeline</h2>
      <div class="material">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>



  <section class="reviewer">

    <h2>Reviewers</h2>
    <% if @candidate.reviewers.include?(current_user.reviewer) %>
      <%= link_to "Add a New Review", new_admin_candidate_review_path(@candidate.id) %>
    <% end %>
    <% if @candidate.reviewers.empty? %>
      <p>There are no reviewers</p>
    <% end %>
    <% @candidate.reviewers.each do |reviewer| %>
      <p><%= reviewer.name %> | <%= reviewer.email %></p>
    <% end %>

  </section>



  <section class="review">

    <h2>Reviews</h2>
  <div>
    <% if @candidate.reviewers.empty? %>
      <p>There are no reviews</p>
    <% end %>
    <% @candidate.reviews.each do |review| %>
    <p class="reviewer"><strong>Reviewer:</strong> <%= review.reviewer.name %> | <%= review.reviewer.email %></p>

    <ul class="review-summary">
      <li>
        <p><strong>Hire?</strong></p>
        <%= review.recommendation %>
      </li>
      <li>
        <p><strong>Why does this candidate want to work at LivingSocial?</strong></p>
        <p><%= review.why_livingsocial %></p>
      </li>
      <li>
        <p><strong>Why does this candidate want to be in Hungry Academy?</strong></p>
        <p><%= review.why_hungry %></p>
      </li>
    </ul>

    <% end %>
  </div>
  </section>

</div>
