<div class="container">
  Candidate Info
  <br />
  <ul>
    <li>Name: <%= @candidate.name %></li>
    <li>Email: <%= @candidate.email %></li>
    <li>Phone: <%= @candidate.phone %></li>
    <li>Status: <%= @candidate.status.status %></li>
    <li>Rating: <%= @candidate.total_score %></li>
  </ul>
  <br />
  <%= link_to "Resume", @candidate.resume.url %>
  <br />
  <br />
  Responses
  <br />
  <br />

  <% @candidate.responses.each do |response| %>
    <b><%= response.question.text %></b>
    <br /><br />
    <p><%= response.body %></p>
    <br />
  <% end %>

  Reviewers
  <table>
    <% if @candidate.reviewers.empty? %>
      <tr>There are no reviewers</tr>
    <% end %>
    <% @candidate.reviewers.each do |reviewer| %>
      <tr>
        <td><%= reviewer.name %></td>
        <td><%= reviewer.email %></td>
      </tr>
    <% end %>
  </table>
</div>