<div class="container">
  <div class="rounded-box user-profile">
    <header>
      <h2><%= @candidate.name %></h2>
      <span class="flag status notice"><%= @candidate.status %></span>
    </header>
    <div class="profile">
      <% if @candidate.profile_img? %>
        <img src="<%= @candidate.profile_img %>"></img>
      <% else %>
        <%= image_tag "/assets/blank_user.gif" %>
      <% end %>
      <div class="user-details">
        <span class="email"><%= @candidate.email %></span>
        <span class="email"><%= @candidate.phone %></span>

      </div>

    </div>

    <div class="actions">
      <%= link_to "Edit Profile", edit_candidate_path(@candidate.id), :class => "button primary" %>
    </div>
  </div>
</div>