<%= form_for @question, url: admin_questions_path do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :text %>
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

review id
question id
response