<h2>A great question</h2>

<h3><%= @question.title %></h3>
<p><%= @question.text %></p>
<p>Most recent editor: <%= @question.get_user_name(@question.last_editor_id) %>
<p><%= link_to "Edit Question", edit_admin_question_path(@question) %> | <%= link_to "Delete Question", admin_question_path(@question), method: :delete, confirm: "Really delete this question?" %></p>
<p>
  <%= link_to "All Questions", admin_questions_path %>
</p>