  <table class="table table-bordered table-striped table-wide admin-table">
    <thead>
      <th>Name</th>
      <th>E-mail</th>
      <th>Status</th>
      <th>Reviewer</th>
    </thead>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= link_to candidate.name, admin_candidate_path(candidate.id) %></td>
        <td><%= candidate.email %></td>
        <td>
          <%= simple_form_for candidate, :url => admin_candidate_reviewer_path(candidate.id), :method => :put do |f| %>
            <%= select_tag :status, options_for_select(Status::STATUSES) %>
            <%= f.submit :class => "button secondary small" %>
          <% end %>
        </td>
        <td class="reviewer">
          <%= simple_form_for candidate, :url => admin_candidate_reviewer_path(candidate.id), :method => :put do |f| %>
            <%= f.association :reviewers %>
            <%= f.submit :class => "button secondary small" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
