<!DOCTYPE html>
<html>
<head>
  <title>HungryPrep</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery', 'rails.validations' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="global-header">
  <div class="header-inner container">
    <h1 class="logo">Hungry Academy</h1>

    <div class="account columns six">
      <% if current_user %>
        <span class="user"><%= current_user.name %></span>
        <span class="last-saved">Last saved at 10:01 pm 5/4/2012</span>
        <span class="user-actions"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></span>        
      <% end %>
    </div>
  </div>
</header>
<div class="cobrand container">
  powered by <span class="logo logo-ls">LivingSocial</span> &amp; <span class="logo logo-jumpstart">Jumpstart Labs</span>
</div>
<div class="page-wrap">
  <div class="container page-content">
    <%= yield %>
  </div>
</div>
</body>
</html>
