<!DOCTYPE html>
<html>
<head>
  <title>HungryPrep</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery', 'rails.validations' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">

</div>
<div class="page-wrap">
  <div class="container page-content">
    <%= yield %>
  </div>
</div>
</body>
</html>
