<!DOCTYPE html>
<html>
<head>
  <title>HungryPrep</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery', 'rails.validations' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="global-header">
  <div class="header-inner container">
    <h1 class="logo">Hungry Academy</h1>

    <div class="account">
      <span class="user">User name</span>
      <span class="last-saved">Last saved</span>
      <p>derp</p>
    </div>
  </div>
</header>
<div class="cobrand container">
  powered by <span class="logo logo-ls">LivingSocial</span> &amp; <span class="logo logo-jumpstart">Jumpstart Labs</span>
</div>
<div class="page-wrap">
  <% if current_user %>
    <%= current_user.email %>
    <% if current_user.reviewer %>
      Reviewer #<%= current_user.reviewer.id %>
    <% else %>
      Candidate #<%= current_user.candidate.id %>
    <% end %>
  <% end %>

  <div class="container page-content">
    <%= yield %>
  </div>
</div>
</body>
</html>
